includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 8
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            path: src/Models/*.php
            identifier: return.type
